/* --- Тъй като имаш абсолютно същия във всеки един от файловете, можеш да го пренесеш и този да е във отделен файл.
        Ако кръстиш файла да се казва reset.css и ще е много лесно на хората да се ориентират какъв е този файл.
        Също така, ако в даден момент решиш че искаш да промениш нещо по тези стилове, ще бъде на 1 място, а не разхвърляно по всички отделни css-и --- */
* {
    margin: 0;
    padding: 0;
}
h2 {
  padding: 140px;
}
div img {
    width: 400px;
    height: 400px;
    padding: 10px;
}