* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #2980b9;
    position: fixed;
    
}
nav .logo {
    margin-left: 200px;
    text-align: center;
    top: 12.5px;
    position: relative;
    color: white;

}

nav .nav1 {
    margin-left: 20%;
    text-align: center;
    position: relative;
    bottom: 12.5px;
    text-decoration-line: none;
    color: white;
}
nav .nav2 {
    margin-left: 50px;
    text-align: center;
    position: relative;
    bottom: 12.5px;
    text-decoration-line: none;
    color: white;
}
nav .nav3 {
    margin-left: 50px;
    text-align: center;
    position: relative;
    bottom: 12.5px;
    text-decoration-line: none;
    color: white;    
}
 nav a:hover {
    background: rgb(45, 241, 6) ;
    color: rgb(247, 10, 30);
   


}