* {
    margin: 0;
    padding: 0;
}
section {
    display: inline-block;
    width: 100%;
    padding: 120px 20px 0 20px;
    
}
section span a {
    padding: 40px;
}
section h2 {
    padding: 40px 40px;
}

.text1 {
    display: inline-block;
    width: 45%;
    height: 450px;
    padding: 0 40px 20px 40px;
    
}
.Venus {
    display: inline-block;
    width: 45%;
    height: 450px;
    text-align: center;
    
}
.image {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-position: center;
}
.youTube {
    display: inline-block;
    width: 45%;
    height: 400px;
    padding-left: 40px;
}
.text2 {
    display: inline-block;
    width: 40%;
    line-height: 20px;
    padding: 20px;
}