/* --- Добра практика е, ако ще използваш селектори по таг, то да ги обвиеш в един клас.
        Причината за това, е че ако ги оставиш по този начин, и ти се наложи да преизползваш даден таг на друго място,
        ще трябва да презаписваш стиловете във първите селектори. --- */
section.userCardsWrapper {
    background-color: #34495e;
    width: 100%;
    height: 300px;
}

.userCardsWrapper h1{
    color: white;
}

/* --- Не че това, което си направила е грешно със float:left, но тъй като в дадената лекция не бяхме говорили за float-ове, тук ти показвам друг вариант.
    Ако поставиш един контейнер на изображението и още един на всички други текстови елементи, можеш да се възползваш от display:inline-block, за да ги подредиш един до друг. 
    Добавянето на тези контейнери също има допълнителното предимство, че можеш да селектираш много лесно, всички елементи във полето за допълнителна информация, без да хващаш изображението.--- */
.userCardsWrapper img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
}

.users-info{
    font-size: 10px;
    font-weight: bold;
    width: 370px;
    background-color: #e74c3c;
    display: inline-block;
}

.user-data{
    display: inline-block;
}

.userCardsWrapper span{
    color: white;
    font-family: Verdana;
    line-height: 25px;
}

.information{
    color: #f1c40f;

}
.emptySpace {
    width: 65px;
    background-color: #34495e;
    display: inline-block;
}